.quiz-question__block {
  min-width: 576px;
  max-width: 576px;
}
.quiz-timeline__number.answered {
  background-color: red;
  color: white;
}
#submit:disabled {
  background-color: rgb(156 163 175);
  cursor: not-allowed;
  color: #fff;
}

#submit:disabled:hover {
  background-color: rgb(156 163 175);
  color: #fff;
}