.quiz-question__block {
  min-width: 576px;
  max-width: 576px;
}
.quiz-timeline__number.answered {
  background-color: red;
  color: white;
}
.grid {
  display: grid;
}
#submit:disabled {
  background-color: rgb(156 163 175);
  cursor: not-allowed;
  color: #fff;
}

#submit:disabled:hover {
  background-color: rgb(156 163 175);
  color: #fff;
}
.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #D1D1D1;
  border-radius: 100vh;
  border: 3px solid #fff;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #D1D1D1;
}